In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
df=pd.read_csv('../Datasets/UpdatedResumeDataSet.csv')
df.sample(10)

,Category,Resume
656,Network Security Engineer,Communication Skills My writing skills in Engl...
566,Python Developer,Technical Skills: Languages Python Python Fram...
730,Database,"TECHNICAL SKILLS â¢ SQL â¢ Oracle v10, v11, ..."
782,Hadoop,"Technical Skills Programming Languages: C, C++..."
787,ETL Developer,SKILL SET â Talend Big Data â Informatica ...
85,Advocate,"Education Details \r\n B.Com, LL.B., Univers..."
127,Arts,I Other Skills Course/Skill Name Board Year Of...
314,Civil Engineer,Education Details \r\nJanuary 2005 S.S.C Bara...
103,Advocate,â¢ Hard working â¢ Quick learnerEducation De...
369,Java Developer,"Operating Systems Windows XP, 7, 10. Tools/Pac..."